* {
    box-sizing: border-box;
  }
  body {
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    color: #08bbf1e1;
  }
  
 .subtitulo{
    text-align: center;
  }
  .money-img {
    width: 250px;
  }
  .title{
    font-size: 25px;
    margin-bottom: 10px;
  }
  form :where(input, select, button){
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: none;
  }
  form p{
    font-size: 18px;
    margin-bottom: 5px;
  }
  form input{
    height: 50px;
    font-size: 17px;
    padding: 0 15px;
    border: 1px solid #999;
  }
  form input:focus{
    padding: 0 14px;
    border: 2px solid #08bbf1e1;
  }
  form .drop-list{
    display: flex;
    margin-top: 25px;
    align-items: center;
    justify-content: space-between;
  }
  .drop-list .select-box{
    display: flex;
    padding: 10px;
    width: 180px;
    height: 45px;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    border: 1px solid #999;
  }
  .select-box img{
    max-width: 45px;
  }
  .select-box select{
    width: auto;
    font-size: 16px;
    background: none;
    margin: 0 -5px 0 5px;
  }
  .select-box select::-webkit-scrollbar{
    width: 8px;
  }
  .select-box select::-webkit-scrollbar-track{
    background: #fff;
  }
  .select-box select::-webkit-scrollbar-thumb{
    background: #888;
    border-radius: 8px;
    border-right: 2px solid #ffffff;
  }
  .drop-list .icon{
    padding: 30px;
    cursor: pointer;
    margin-top: 30px;
    font-size: 22px;
  }
  form .exchange-rate{
    font-size: 17px;
    margin: 20px 0 30px;
  }
  form button{
    text-transform: uppercase;
    font-weight: bold;
    height: 52px;
    color: rgb(10, 10, 10);
    font-size: 17px;
    cursor: pointer;
    background: #08bbf1e1;
    transition: 0.3s ease;
  }
  form button:hover{
    background: #5da4df;
  }